h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	clear: both;
}

main h1{
	text-align: center;
	padding: 30px;
	color: #FFF;
	font-size: 30px;
	text-transform: uppercase;
	background-color: lightgreen;
}

p{
	margin-left: 50px;
	margin-right: 50px;
}

.fiat {
    float: right;
    margin-left: 100px;
}

.petrobras{
	float: left;
}

.icones-sobre li{
	display: inline-block;
	background-color: lightgreen;
	padding: 20px;
	margin-left: 10px;
	margin: 20px;
}

.icones-sobre a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 30px;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	font-weight: bold;
}

.icones-sociais li{
	display: inline-block;
	text-decoration: none;
	background-color: lightgreen;
	margin-left: 215px;
	padding: 20px;
}	

.icones-sociais a{
	text-decoration: none;
}

.titulo-principal{

	text-align: center;
	color: #FFF;
	margin-left: 500px;
	padding: 05px;
	width: 300px;
	height: 50px;
	font-size: 30px;
	text-transform: uppercase;
	background-color: lightgreen;
	clear: both;
}

.leia-mais {
	padding: 10px;
    margin: 16px;
    font-size: 24px;
    text-align: center;
}

body{
	font-family: "Times New Roman";
	font-size: 20px;
	line-height: 1.5;
	background-color: lightblue;
}

blockquote {
    padding: 16px;
    border: 10px ridge #18e46b;
    width: 500px;
    border-right-color:  #FFF;
    border-left-color:  #FFF;
}

footer li{
	display: inline-block;
}

footer a{
	text-decoration: none;
	color:white;
}

footer{
	background-color: lightgreen;
	text-align: center;
	color: #FFF;
	font-family: "Arial";
	font-size: 120%;
}
